extends layout

block content

		div.row

		p &nbsp;
		p &nbsp;
		p &nbsp;

		div.row
			div.large-6.columns
				h1 Classroom
				h4 Name: xxx Year: xxx

				hr
				h3 Students

				p eifauhweifuhawelf
				p ewifuhawileufhewaf
				p ekuyfagwejfgweaf

			div.large-6.columns
				div.small-8.large-centered.columns(style="text-position: center; background-color:#000000; opacity:0.7; border-radius: 20px 20px 20px 20px; padding-bottom:10px; padding-top:10px;")
					
					h1(align="center" style="color: #FFFFFF; font-family: 'Lato', sans-serif;") Add Students

					
					hr

					form(name="input" action="/teachers/insertclassroomhere/addstudents" method="post")
						input(type="text" name="student1" placeholder="Student 1")
						input(type="text" name="student2" placeholder="Student 2")
						input(type="text" name="student3" placeholder="Student 3")
						input(type="text" name="student4" placeholder="Student 4")
						
						hr
						center
							p 
								button.button.round(type="submit" value="Submit") Submit

		p &nbsp;
